<html>
    <title>
        Image Share - <%= name %>'s Profile
    </title>
    <style>
        h1 {
            font-family: Helvetica, sans-serif;
        }

        h2 {
            margin-top: 12px;
            margin-bottom: 12px;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #date {
            color: darkgray;
            text-align: right;
        }

        /* navigation */
        .navigation {
            background-color: #515671;
            overflow: hidden;
        }

        .navigation a {
            color: white;
            float: left;
            padding: 12px 15px;
            text-align: center;
            text-decoration: none;
            transition: background-color 600ms;
        }

        .navigation a:hover {
            background-color: #717691;
        }

        /* index/post image */
        .imagePost {
            width: 100%;
        }
        .imagePost img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }

        #title {
            font-style: italic;
            font-weight: bold;
        }

        .commentTable {
            border-collapse: collapse;
            width: 100%;
        }

        .commentTable th {
            text-align: left;
            padding: 10px 5% 10px;
        }

        .commentTable td {
            border: 1px solid lightgray;
            padding: 10px 10px 10px;
        }

        #commentUser {
            width: 10%;
        }

        #comment {
            width: 90%;
        }

        #userDesc {
            font-style: italic;
            font-weight: bold;
        }
    </style>
    <body>
        <h1>Image Share</h1>
        <nav>
            <div class = "navigation">
                <a href = "/">Home</a>
                <a href = "/create">Upload</a>
                <a href = "/search">Search</a>
                <a href = "/profile/<%= name %>">Profile</a>
                <a href = "/logout" style = "float: right">Logout</a>
            </div>
        </nav>
        <h2>Edit profile</h2>
        <form method = "POST" action = "/profile/<%= name %>">
            
        </form>
        <form method = "POST" action = "/profile/<%= name %>?method=DELETE">
            <button type = "submit">Delete</button>
        </form>
    </body>
</html>